body{
	margin: auto;
	position: absolute;
	margin-top: 5%;
	margin-left: 22%;
}

.e522_33 { 
	width:1283px;
	height:35.471778869628906px;
	position:absolute;
	left:68px;
	top:134px;
}
.e522_34 { 
	width:79px;
	height:23.63779067993164px;
	position:absolute;
	left:3.5rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_35 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:35.45668411254883px;
	position:absolute;
	left:6.5rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_36 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:32.50196075439453px;
	position:absolute;
	left:10.5rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_37 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:23.63779067993164px;
	position:absolute;
	left:13.5rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_38 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:23.63779067993164px;
	position:absolute;
	left:16rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_39 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:23.63779067993164px;
	position:absolute;
	left:19rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_40 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:32.50196075439453px;
	position:absolute;
	left:22rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_41 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:32.50196075439453px;
	position:absolute;
	left:26rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_42 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:23.63779067993164px;
	position:absolute;
	left:30rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_43 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:23.63779067993164px;
	position:absolute;
	left:33rem;
	top:6rem;
	font-family:Inter;
	text-align:center;
	font-size:1.2rem;
	letter-spacing:0;
}
.e522_74 { 
	background-color:rgba(255, 255, 255, 1);
	width:2049px;
	height:4590px;
	position:absolute;
	left:1747px;
	top:97px;
}
.e522_75 { 
	color:rgba(0, 0, 0, 1);
	width:143px;
	height:30px;
	position:absolute;
	left:123px;
	top:1768px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e522_76 { 
	background-color:rgba(236.00000113248825, 227.00000166893005, 211.00000262260437, 1);
	width:1196px;
	height:286px;
	position:absolute;
	left:122px;
	top:539px;
}
.e522_94 { 
	width:245px;
	height:227px;
	position:absolute;
	left:168px;
	top:569px;
	background-image:url(images/image_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e522_101 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:30px;
	position:absolute;
	left:123px;
	top:3069px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e522_126 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:31px;
	position:absolute;
	left:104px;
	top:481px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e522_127 { 
	width:219px;
	height:46.22491455078125px;
	position:absolute;
	left:609px;
	top:4256px;
}
.e522_129 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:177.32179260253906px;
	height:39.40484619140625px;
	position:absolute;
	left:21.217992782592773px;
	top:3.031141757965088px;
}

.e522_130 { 
	width:219px;
	height:46.22491455078125px;
	position:absolute;
	left:609px;
	top:2959px;
}
.e522_132 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:177.32179260253906px;
	height:39.40484619140625px;
	position:absolute;
	left:21.217992782592773px;
	top:3.031141757965088px;
}
.e522_133 { 
	width:219px;
	height:46.22491455078125px;
	position:absolute;
	left:610px;
	top:1663px;
}
.e522_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:177.32179260253906px;
	height:39.40484619140625px;
	position:absolute;
	left:21.217992782592773px;
	top:3.031141757965088px;
}

li a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #000;
  font-weight: bold;
  text-align: center;
}

li a:hover:not(.home) {
  background-color: #333;
  color: #fff;
}


li a:hover {
  background: #333;
  color: #fff;
}

li a.home {
  background : #333;
  color: #fff;
}

ul, li {
   list-style: none;
}
