
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}



#next{
  position: absolute;
  margin-left: 70rem;
  margin-top: 80rem;
}

body {
  width: 144rem;
}.frame-50-18M {
  width: 100%;
  height: 83rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-50-18M .rectangle-217-w21 {
  width: 71.7rem;
  height: 36rem;
  position: absolute;
  left: 36.1rem;
  top: 47rem;
  background-color: #e9f0e3;
}
.frame-50-18M .line-45-FYV {
  width: 39.2rem;
  height: 0.1rem;
  position: absolute;
  left: 52.2rem;
  top: 67.9rem;
  background-color: #3d3a39;
}
.frame-50-18M .item--Bh3 {
  width: 5.3rem;
  height: 2.7rem;
  position: absolute;
  left: 52.4rem;
  top: 64.4rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-50-18M .item--UAM {
  width: 35.3rem;
  height: 2.5rem;
  position: absolute;
  left: 55.6rem;
  top: 64.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-50-18M .line-46-tE5 {
  width: 39.2rem;
  height: 0.1rem;
  position: absolute;
  left: 52.2rem;
  top: 76rem;
  background-color: #3d3a39;
}
.frame-50-18M .item--QiD {
  width: 5.3rem;
  height: 2.7rem;
  position: absolute;
  left: 52.5rem;
  top: 71.7rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-50-18M .item--hxD {
  width: 35.3rem;
  height: 2.5rem;
  position: absolute;
  left: 55.6rem;
  top: 72.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-50-18M .line-49-wLm {
  width: 28.6rem;
  height: 0.2rem;
  position: absolute;
  left: 41.2rem;
  top: 51.8rem;
  background-color: #3d3a39;
}
.frame-50-18M .item--4gH {
  width: 31.5rem;
  height: 2.1rem;
  position: absolute;
  left: 41.2rem;
  top: 49.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-50-18M .item-1--WYH {
  width: 43.5rem;
  height: 9.7rem;
  position: absolute;
  left: 55.5rem;
  top: 56.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}


.frame-49-xp9 {
  width: 100%;
  height: 199.7rem;
  position: absolute;
  overflow: hidden;
  background-color: #ffffff;
}

.day{
  position: absolute;
  left: 63rem;
  top: 12.2rem;
  width: 20rem;
  height: 2rem;
  background-color: #f0efe0;
}
.qus {
  position: absolute;
  left: 65rem;
  top: 74rem;
  background-color: #f0efe0;

}

.div2 {
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 {
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4 {
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

#online{
left: 55.2rem;
top: 43.5rem;
position: absolute;
border: 1px solid;
width: 16rem;
height: 3.4rem;
display: flex;
align-items: center;
justify-content: center;

}



#offline{
  left: 74.6rem;
  top: 43.5rem;
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}





#com{
 
  left: 55.2rem;
  top: 59.5rem;
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grant{
  
  left: 74.6rem;
  top: 59.5rem;
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender{

  position: absolute;
  left: 68.4rem;
  top: 87.9rem;
}


#yes{
  left: 55.2rem;
  top: 107rem;
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no{
  left: 74.6rem;
  top: 107rem;
  position: absolute;
  border: 1px solid;
  width: 16rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clicked {
  background-color: #ded8d4;
 
}


.age{
  position: absolute;
  left: 68.4rem;
  top: 94.1rem;

}
.per{
position: absolute;
left: 65rem;
top: 120rem;
width: 20rem;
  height: 2rem;
background-color: #f0efe0;

}

.time{
  position: absolute;
  left: 63rem;
  top: 18rem;
  width: 20rem;
  height: 2rem;
  background-color: #f0efe0;
}



.frame-49-xp9 .rectangle-234-rPj {
  width: 71.7rem;
  height: 138rem;
  position: absolute;
  left: 36.1rem;
  top: 2.6rem;
  background-color: #e9f0e3;
}
.frame-49-xp9 .line-80-Zow {
  width: 36.9rem;
  height: 0.1rem;
  position: absolute;
  left: 53.5rem;
  top: 76.4rem;
  background-color: #000000;
}
.frame-49-xp9 .item--trD {
  width: 36.9rem;
  height: 6.8rem;
  position: absolute;
  left: 53.5rem;
  top: 93.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.25);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item-0-80-Ly7 {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 86.8rem;
  top: 77.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.frame-49-xp9 .item-0-80-Ly7 .item-0-80-Ly7-sub-0 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: Inter, 'Source Sans Pro';
}
.frame-49-xp9 .item-0-80-Ly7 .item-0-80-Ly7-sub-1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-49-xp9 .item--SPs {
  width: 21.8rem;
  height: 2.3rem;
  position: absolute;
  left: 42.1rem;
  top: 5.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--7W1 {
  width: 36.9rem;
  height: 3.6rem;
  position: absolute;
  left: 42.2rem;
  top: 36.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--bRB {
  width: 14.5rem;
  height: 1.9rem;
  position: absolute;
  left: 42.2rem;
  top: 52.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--fvq {
  width: 27.1rem;
  height: 1.9rem;
  position: absolute;
  left: 42.2rem;
  top: 68.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .line-56-7H3 {
  width: 37.5rem;
  height: 0.1rem;
  position: absolute;
  left: 53.1rem;
  top: 15.2rem;
  background-color: #000000;
}
.frame-49-xp9 .line-57-EsT {
  width: 37.5rem;
  height: 0.1rem;
  position: absolute;
  left: 53.1rem;
  top: 21.8rem;
  background-color: #000000;
}
.frame-49-xp9 .line-84-Zuj {
  width: 37.5rem;
  height: 0.1rem;
  position: absolute;
  left: 53.1rem;
  top: 90.9rem;
  background-color: #000000;
}
.frame-49-xp9 .line-85-6em {
  width: 37.5rem;
  height: 0.1rem;
  position: absolute;
  left: 53.1rem;
  top: 97.3rem;
  background-color: #000000;
}
.frame-49-xp9 .free-icon-calendar-4511116-2-DDb {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 53.1rem;
  top: 12.1rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-49-xp9 .free-icon-calendar-4511116-3-Xk5 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 53.8rem;
  top: 93.7rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-49-xp9 .free-icon-time-7764301-2-e41 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 53.1rem;
  top: 17.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-49-xp9 .rectangle-235-A2M {
  width: 33.4rem;
  height: 3.8rem;
  position: absolute;
  left: 54.6rem;
  top: 24.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.frame-49-xp9 .rectangle-331-UHw {
  width: 33.4rem;
  height: 3.8rem;
  position: absolute;
  left: 54.6rem;
  top: 29.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.frame-49-xp9 .item-6--PQu {
  width: 25rem;
  height: 4.2rem;
  position: absolute;
  left: 62.9rem;
  top: 25.5rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .free-icon-exclamation-button-87980-1-eLq {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 56.4rem;
  top: 25.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-49-xp9 .rectangle-339-xMX {
  width: 27.4rem;
  height: 3.2rem;
  position: absolute;
  left: 58.1rem;
  top: 124.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.frame-49-xp9 .item-3-30--Tp5 {
  width: 23rem;
  height: 2.6rem;
  position: absolute;
  left: 63.3rem;
  top: 125rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .free-icon-exclamation-button-87980-3-WXT {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 60.6rem;
  top: 125.1rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-49-xp9 .free-icon-exclamation-button-87980-2-dc5 {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 56.4rem;
  top: 30.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-49-xp9 .item-1--9KX {
  width: 25.1rem;
  height: 1.6rem;
  position: absolute;
  left: 59.5rem;
  top: 30.8rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .rectangle-241-z5F {
  width: 16rem;
  height: 3.4rem;
  position: absolute;
  left: 55.2rem;
  top: 70.6rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .item--VGu {
  width: 3.7rem;
  height: 1.9rem;
  position: absolute;
  left: 61.35rem;
  top: 71.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .rectangle-332-Mpu {
  width: 16rem;
  height: 3.4rem;
  position: absolute;
  left: 74.6rem;
  top: 70.6rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .rectangle-337-Ggy {
  width: 19.9rem;
  height: 5rem;
  position: absolute;
  left: 62.2rem;
  top: 134.2rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .rectangle-338-yLV {
  width: 18.2rem;
  height: 3.8rem;
  position: absolute;
  left: 62.8rem;
  top: 149.7rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .item--VJq {
  width: 13rem;
  height: 2.3rem;
  position: absolute;
  left: 76rem;
  top: 71.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .rectangle-439-Afs {
  width: 16rem;
  height: 3.4rem;
  position: absolute;
  left: 55.2rem;
  top: 83.6rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .item--gu7 {
  width: 2.8rem;
  height: 1.9rem;
  position: absolute;
  left: 61.8rem;
  top: 84.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .rectangle-440-AZP {
  width: 16rem;
  height: 3.4rem;
  position: absolute;
  left: 74.6rem;
  top: 83.6rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .item--5gM {
  width: 13rem;
  height: 2.3rem;
  position: absolute;
  left: 76rem;
  top: 84.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .rectangle-441-Fz9 {
  width: 16rem;
  height: 3.4rem;
  position: absolute;
  left: 54.9rem;
  top: 122.6rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .item--NYy {
  width: 12.8rem;
  height: 2.3rem;
  position: absolute;
  left: 56.5rem;
  top: 123.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .rectangle-442-sVj {
  width: 16rem;
  height: 3.4rem;
  position: absolute;
  left: 74.3rem;
  top: 122.6rem;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
}
.frame-49-xp9 .item--C2D {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 81.25rem;
  top: 123.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--tQq {
  width: 9rem;
  height: 2.1rem;
  position: absolute;
  left: 42.4rem;
  top: 80.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--ySH {
  width: 3.2rem;
  height: 1.8rem;
  position: absolute;
  left: 57.4rem;
  top: 87.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--GgH {
  width: 3.2rem;
  height: 2.1rem;
  position: absolute;
  left: 57.4rem;
  top: 94.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .free-icon-gender-10283643-1-md3 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 53.8rem;
  top: 87.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-49-xp9 .item--69X {
  width: 5.3rem;
  height: 2.2rem;
  position: absolute;
  left: 42.4rem;
  top: 100.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--PPX {
  width: 6.6rem;
  height: 2.3rem;
  position: absolute;
  left: 42.4rem;
  top: 112.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .item--Ufs {
  width: 15rem;
  height: 3rem;
  position: absolute;
  left: 65rem;
  top: 132.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-49-xp9 .polygon-19-xb3 {
  width: 1.4rem;
  height: 1.6rem;
  position: absolute;
  left: 79.2rem;
  top: 135.8rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-49-xp9 .line-76-HNR {
  width: 28rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 8rem;
  background-color: #000000;
}
.frame-49-xp9 .line-77-orZ {
  width: 28rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 39.5rem;
  background-color: #000000;
}
.frame-49-xp9 .line-78-Lbb {
  width: 28rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 55.5rem;
  background-color: #000000;
}
.frame-49-xp9 .line-79-sLd {
  width: 31.6rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 71.5rem;
  background-color: #000000;
}
.frame-49-xp9 .line-81-zw3 {
  width: 8.1rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 83.5rem;
  background-color: #000000;
}
.frame-49-xp9 .line-86-7Vs {
  width: 8.1rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 103.5rem;
  background-color: #000000;
}
.frame-49-xp9 .line-87-EKb {
  width: 8.1rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 115.5rem;
  background-color: #000000;
}


.title{
  background-color: #e9f0e3;
}

#image_container{

  width: 30px;
  height: 30px;
}

img{
  width: 100px;
  height: 100px;
  
}

#next{
  position: absolute;
  margin-left: 70rem;
  margin-top: 121rem;
}

textarea{
  position: absolute;
  width: 630px;
  height: 400px;
  margin-left: 450px;
  margin-top: 350px;
  border: none;
  resize: none;
  background-color: #ded8d4;
}

#img{
  margin-top: 5rem;
  margin-left: 10rem;
}

.frame-48-MMs {
  width: 100%;
  height: 75rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-48-MMs .rectangle-231-t6u {
  width: 71.7rem;
  height: 74.8rem;
  position: absolute;
  left: 36.1rem;
  top: rem;
  background-color: #e9f0e3;
}
.frame-48-MMs .item--ojf {
  width: 15.1rem;
  height: 1.9rem;
  position: absolute;
  left: 43.7rem;
  top: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-48-MMs .item--rhw {
  width: 11.7rem;
  height: 1.9rem;
  position: absolute;
  left: 42.2rem;
  top: 14.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-48-MMs .line-52-jFw {
  width: 36.9rem;
  height: 0.1rem;
  position: absolute;
  left: 52.1rem;
  top: 10.5rem;
  background-color: #000000;
}
.frame-48-MMs .item--f9b {
  width: 36.9rem;
  height: 7.2rem;
  position: absolute;
  left: 52.1rem;
  top: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.25);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-48-MMs .item-0-80-Kjw {
  width: 6.7rem;
  height: 3.6rem;
  position: absolute;
  left: 85.4rem;
  top: 11.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.frame-48-MMs .item-0-80-Kjw .item-0-80-Kjw-sub-0 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: Inter, 'Source Sans Pro';
}
.frame-48-MMs .item-0-80-Kjw .item-0-80-Kjw-sub-1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-48-MMs .rectangle-232-vNM {
  width: 9.1rem;
  height: 9.5rem;
  position: absolute;
  left: 41.9rem;
  top: 18.7rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.frame-48-MMs .item--dnZ {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 45.55rem;
  top: 21.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4499999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.frame-48-MMs .item-0-10-KQV {
  width: 5.1rem;
  height: 2.4rem;
  position: absolute;
  left: 43.8rem;
  top: 23.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.4499999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-48-MMs .rectangle-233-arD {
  width: 63.1rem;
  height: 42.1rem;
  position: absolute;
  left: 40.4rem;
  top: 79.5rem;
  background-color: #d9d9d9;
}
.frame-48-MMs .item--VTP {
  width: 14.7rem;
  height: 6.1rem;
  position: absolute;
  left: 42.1rem;
  top: 31.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.4499999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-48-MMs .line-74-9Xw {
  width: 28rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 5.6rem;
  background-color: #000000;
}
.frame-48-MMs .line-75-5Rb {
  width: 28rem;
  height: 0.2rem;
  position: absolute;
  left: 41.6rem;
  top: 17.6rem;
  background-color: #000000;
}

#clubpay{
  position: absolute;
  top:112rem;
  left: 58rem;

}

.asd{
  width: 100%;
  top: 10rem;
  }
  
  .category1{
    position: absolute;
    left:55rem;
    top:20rem;
  }
  
  .category2{
    position: absolute;
    left:70rem;
    top:20rem;
  }

.frame-47-rrd {
  width: 100%;
  height: 32rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-47-rrd .rectangle-218-jQd {
  width: 71.7rem;
  height: 28.2rem;
  position: absolute;
  left: 36.1rem;
  top: 2.2rem;
  background-color: #e9f0e3;
}
.frame-47-rrd .item--qiZ {
  width: 7.3rem;
  height: 4.5rem;
  position: absolute;
  left: 53rem;
  top: 45.4rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--H4m {
  width: 41.5rem;
  height: 2rem;
  position: absolute;
  left: 51.8rem;
  top: 48.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--JVf {
  width: 3.7rem;
  height: 1.9rem;
  position: absolute;
  left: 53rem;
  top: 56.8rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--ai5 {
  width: 41.5rem;
  height: 2.1rem;
  position: absolute;
  left: 51.8rem;
  top: 57.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--Rih {
  width: 7.3rem;
  height: 4.5rem;
  position: absolute;
  left: 53rem;
  top: 63rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--ixh {
  width: 41.5rem;
  height: 2.1rem;
  position: absolute;
  left: 51.8rem;
  top: 65.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--xs3 {
  width: 7.3rem;
  height: 4.4rem;
  position: absolute;
  left: 52.8rem;
  top: 71.8rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--G73 {
  width: 41.5rem;
  height: 2rem;
  position: absolute;
  left: 51.8rem;
  top: 74.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--VVb {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 52.8rem;
  top: 82.9rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--amw {
  width: 5.7rem;
  height: 1.6rem;
  position: absolute;
  left: 69.7rem;
  top: 83.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--4SD {
  width: 7.3rem;
  height: 4.5rem;
  position: absolute;
  left: 52.8rem;
  top: 89.2rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--Xqb {
  width: 14.7rem;
  height: 1.6rem;
  position: absolute;
  left: 65.2rem;
  top: 92.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--o2R {
  width: 10.9rem;
  height: 4.4rem;
  position: absolute;
  left: 52.8rem;
  top: 97.9rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--g6D {
  width: 41.5rem;
  height: 2.1rem;
  position: absolute;
  left: 51.8rem;
  top: 101.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--Y8R {
  width: 10.9rem;
  height: 4.5rem;
  position: absolute;
  left: 52.8rem;
  top: 107rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--pbj {
  width: 41.5rem;
  height: 2.1rem;
  position: absolute;
  left: 51.8rem;
  top: 110rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--fMT {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 52.8rem;
  top: 118.4rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--xbT {
  width: 41.5rem;
  height: 2rem;
  position: absolute;
  left: 51.8rem;
  top: 118.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--WFb {
  width: 7.3rem;
  height: 4.5rem;
  position: absolute;
  left: 52.8rem;
  top: 124.5rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .item--zwT {
  width: 41.5rem;
  height: 1.9rem;
  position: absolute;
  left: 51.8rem;
  top: 127.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .line-48-Ybb {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 50.7rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-GnV {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 59.5rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-QNu {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 68.3rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-jRB {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 77rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-rVo {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 85.8rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-nPT {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 94.6rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-uys {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 103.4rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-FH3 {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 112.2rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-nGy {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 121rem;
  background-color: #3d3a39;
}
.frame-47-rrd .line-48-K21 {
  width: 42.1rem;
  height: 0.1rem;
  position: absolute;
  left: 49.8rem;
  top: 129.7rem;
  background-color: #3d3a39;
}
.frame-47-rrd .free-icon-checkbox-6948191-10-FAZ {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 93.3rem;
  top: 48rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-21-A2d {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 93.3rem;
  top: 126.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/free-icon-checkbox-6948191-21-bg-2ND.png');
}
.frame-47-rrd .free-icon-checkbox-6948191-20-3MK {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 93.3rem;
  top: 118.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-19-m2R {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 93.3rem;
  top: 109.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-18-tcq {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 93.3rem;
  top: 100.7rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-17-R6y {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 93.3rem;
  top: 92.1rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-16-wb7 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 93.3rem;
  top: 83.2rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-15-TJZ {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 93.3rem;
  top: 74.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-14-NgR {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 93.3rem;
  top: 65.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .free-icon-checkbox-6948191-13-6cR {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 93.3rem;
  top: 56.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-47-rrd .item--DS9 {
  width: 25.4rem;
  height: 2.6rem;
  position: absolute;
  left: 41.8rem;
  top: 9.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-47-rrd .line-50-t2V {
  width: 28rem;
  height: 0.2rem;
  position: absolute;
  left: 41.8rem;
  top: 12.6rem;
  background-color: #000000;
}
