
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
  margin: auto;
}.frame-45-AcH {
  width: 100%;
  height: 150.7rem;
  position: relative;
  border-bottom: solid 0.3rem #fffef2;
  box-sizing: border-box;
}
.frame-45-AcH .rectangle-282-xHF {
  width: 144rem;
  height: 150.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.frame-45-AcH .rectangle-312-4LH {
  width: 80.7rem;
  height: 105rem;
  position: absolute;
  left: 31.7rem;
  top: 19.4rem;
  background-color: #f7f1ec;
}
.frame-45-AcH .line-79-nn5 {
  width: 48.4rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 26.6rem;
  background-color: #000000;
}
.frame-45-AcH .MEM_ID {
  width: 2.8rem;
  height: 1.9rem;
  position: absolute;
  left: 48.4rem;
  top: 23.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #MEM_ID {
  width: 20rem;
  height: 1.9rem;
  position: absolute;
  left: 55rem;
  top: 23.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #MEM_LOCA {
  width: 45rem;
  height: 3rem;
  position: absolute;
  left: 48.5rem;
  top: 78rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #MEM_LOCB {
  width: 45rem;
  height: 3rem;
  position: absolute;
  left: 48.5rem;
  top: 83rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .line-81-98m {
  width: 48.3932rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 32.6002rem;
  background-color: #000000;
}
.frame-45-AcH .line-130-ebK {
  width: 11.8824rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 52.5rem;
  background-color: #000000;
}
.frame-45-AcH .line-131-P37 {
  width: 13.2rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 63rem;
  background-color: #000000;
}
.frame-45-AcH .line-132-KSZ {
  width: 13rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 75.2rem;
  background-color: #000000;
}
.frame-45-AcH .item--4Q9 {
  width: 8.2rem;
  height: 1.8rem;
  position: absolute;
  left: 47.2rem;
  top: 29.3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--4Q8 {
  width: 8.2rem;
  height: 1.8rem;
  position: absolute;
  left: 65.5rem;
  top: 11rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #pass {
  width: 20rem;
  height: 1.8rem;
  position: absolute;
  left: 55rem;
  top: 29.3rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .line-106-knm {
  width: 48.9rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 97.5rem;
  background-color: #000000;
}
.frame-45-AcH .item--4oT {
  width: 15.7rem;
  height: 2.2rem;
  position: absolute;
  left: 47.7rem;
  top: 91rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .MEM_PIC {
  width: 15.7rem;
  height: 2.2rem;
  position: absolute;
  left: 41.5rem;
  top: 72rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #email {
  width: 15.7rem;
  height: 2.2rem;
  position: absolute;
  left: 53rem;
  top: 95rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .MEM_TEL {
  width: 5.3rem;
  height: 1.9rem;
  position: absolute;
  left: 47.6rem;
  top: 100rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--pro {
  width: 5.3rem;
  height: 1.9rem;
  position: absolute;
  left: 47.6rem;
  top: 108rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #first {
  width: 7rem;
  height: 1.9rem;
  position: absolute;
  left: 57.3rem;
  top: 102.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #second {
  width: 7rem;
  height: 1.9rem;
  position: absolute;
  left: 68.3rem;
  top: 102.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #third {
  width: 7rem;
  height: 2rem;
  position: absolute;
  left: 79.5rem;
  top: 102.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .MEM_FAVORITE {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 47.7rem;
  top: 59.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #MEM_FAVORITE {
  width: 10rem;
  height: 2rem;
  position: absolute;
  left: 70rem;
  top: 66rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--rtt {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 47.9rem;
  top: 71rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #loc {
  width: 10rem;
  height: 2rem;
  position: absolute;
  left: 70rem;
  top: 77rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .line-103-Z1T {
  width: 11.9rem;
  height: 0.1rem;
  position: absolute;
  left: 53.6rem;
  top: 56.5rem;
  background-color: #000000;
}
.frame-45-AcH .line-120-5Eh {
  width: 8.2rem;
  height: 0.1rem;
  position: absolute;
  left: 71.3rem;
  top: 56.5rem;
  background-color: #000000;
}
.frame-45-AcH .line-121-ogV {
  width: 8.3rem;
  height: 0.1rem;
  position: absolute;
  left: 84.9rem;
  top: 56.5rem;
  background-color: #000000;
}
.frame-45-AcH .line-128-8yf {
  width: 8.3rem;
  height: 0.1rem;
  position: absolute;
  left: 61.2rem;
  top: 74.6rem;
  background-color: #000000;
}
.frame-45-AcH .line-129-Gpy {
  width: 8.3rem;
  height: 0.1rem;
  position: absolute;
  left: 75.8rem;
  top: 74.6rem;
  background-color: #000000;
}
.frame-45-AcH .line-125-Peh {
  width: 9.3rem;
  height: 0.1rem;
  position: absolute;
  left: 56.1rem;
  top: 105rem;
  background-color: #000000;
}
.frame-45-AcH .line-126-Vhj {
  width: 9.1rem;
  height: 0.1rem;
  position: absolute;
  left: 67.3rem;
  top: 105rem;
  background-color: #000000;
}
.frame-45-AcH .item--S7B {
  width: 2.4rem;
  height: 1.7rem;
  position: absolute;
  left: 65.1rem;
  top: 103rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2102272797;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--S7A {
  width: 2.4rem;
  height: 1.7rem;
  position: absolute;
  left: 71rem;
  top: 54.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2102272797;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .line-127-uWZ {
  width: 9.3rem;
  height: 0.1rem;
  position: absolute;
  left: 78.3rem;
  top: 105rem;
  background-color: #000000;
}
.frame-45-AcH .item--pNd {
  width: 1.2rem;
  height: 3.1rem;
  position: absolute;
  left: 76.8rem;
  top: 102.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .MEM_JUMIN {
  width: 6.4rem;
  height: 2rem;
  position: absolute;
  left: 47.7rem;
  top: 49rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.frame-45-AcH #juminA {
  width: 10rem;
  height: 2rem;
  position: absolute;
  left: 59rem;
  top: 54.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.frame-45-AcH #juminB {
  width: 10rem;
  height: 2rem;
  position: absolute;
  left: 76rem;
  top: 54.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.frame-45-AcH .line-102-yoF {
  width: 48.142rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 45.5rem;
  background-color: #000000;
}
.frame-45-AcH .line-102-jumin {
  width: 40rem;
  height: 0.1rem;
  position: absolute;
  left: 52.5rem;
  top: 57rem;
  background-color: #000000;
}
.frame-45-AcH .name {
  width: 5rem;
  height: 1.9rem;
  position: absolute;
  left: 47rem;
  top: 42rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #name {
  width: 20rem;
  height: 1.9rem;
  position: absolute;
  left: 52rem;
  top: 42rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .line-101-CR7 {
  width: 48.4rem;
  height: 0.1rem;
  position: absolute;
  left: 47.5rem;
  top: 39rem;
  background-color: #000000;
}
.frame-45-AcH .item--LGR {
  width: 11.4rem;
  height: 2rem;
  position: absolute;
  left: 48rem;
  top: 35.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #passjea {
  width: 20rem;
  height: 2rem;
  position: absolute;
  left: 60rem;
  top: 35.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: rgba(0, 0, 0, 0.9700000286);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--1NZ {
  width: 4.8rem;
  height: 2.3rem;
  position: absolute;
  left: 89.6rem;
  top: 54rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--4Lq {
  width: 5.2rem;
  height: 2.3rem;
  position: absolute;
  left: 75.7rem;
  top: 54rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item-4-ZHb {
  width: 4.9rem;
  height: 1.6rem;
  position: absolute;
  left: 60.2rem;
  top: 54rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--SMP {
  width: 1.8rem;
  height: 2.1rem;
  position: absolute;
  left: 72.1rem;
  top: 95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--vGZ {
  width: 9.3rem;
  height: 2.9rem;
  position: absolute;
  left: 77.3rem;
  top: 94.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #sun {
  width: 13rem;
  height: 2.9rem;
  position: absolute;
  left: 77.3rem;
  top: 94.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--CUy {
  width: 15.2rem;
  height: 2rem;
  position: absolute;
  left: 66.5rem;
  top: 86.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: rgba(0, 0, 0, 0.3700000048);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .free-icon-search-interface-symbol-54481-1-jtD {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 69.3rem;
  top: 86.55rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-45-AcH .rectangle-436-T3X {
  width: 7.5rem;
  height: 2.4rem;
  position: absolute;
  left: 69rem;
  top: 120.3rem;
  border: solid 0.1rem rgba(61, 58, 57, 0.7599999905);
  box-sizing: border-box;
}
.frame-45-AcH #join {
  width: 6rem;
  height: 2.5rem;
  position: absolute;
  left: 69.7rem;
  top: 120.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.2125;
  color: rgba(61, 58, 57, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .rectangle-436-T4X {
  width: 7.5rem;
  height: 2.4rem;
  position: absolute;
  left: 97.8rem;
  top: 23.3rem;
  border: solid 0.1rem rgba(61, 58, 57, 0.7599999905);
  box-sizing: border-box;
}
.frame-45-AcH #jung {
  width: 6rem;
  height: 2.5rem;
  position: absolute;
  left: 98.5rem;
  top: 23.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.2125;
  color: rgba(61, 58, 57, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH #MEM_PIC {
  width: 15rem;
  height: 7rem;
  position: absolute;
  left: 47.5rem;
  top: 111.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2125;
  color: rgba(61, 58, 57, 0.6299999952);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--EiV {
  width: 3.2rem;
  height: 2.3rem;
  position: absolute;
  left: 63.7rem;
  top: 72.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--hMB {
  width: 2.4rem;
  height: 1.9rem;
  position: absolute;
  left: 78.7rem;
  top: 72.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .free-icon-checkbox-6948191-23-9iy {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 82.6rem;
  top: 72.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/free-icon-checkbox-6948191-23-bg.png');
}
.frame-45-AcH .item--mkM {
  width: 31rem;
  height: 4.8rem;
  position: absolute;
  left: 57.2rem;
  top: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2102272797;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--F9j {
  width: 4.9rem;
  height: 3.4rem;
  position: absolute;
  left: 54.6rem;
  top: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .line-45-vmf {
  width: 22.7rem;
  height: 0.1rem;
  position: absolute;
  left: 36.8rem;
  top: 5.5rem;
  background-color: #000000;
}
.frame-45-AcH .item--EGZ {
  width: 6.6rem;
  height: 3.6rem;
  position: absolute;
  left: 122.5rem;
  top: 1.9rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--FxM {
  width: 9.7rem;
  height: 3.6rem;
  position: absolute;
  left: 130.4rem;
  top: 1.9rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .home-fmB {
  width: 6.3rem;
  height: 2.6rem;
  position: absolute;
  left: 73.4rem;
  top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--9wF {
  width: 5.1rem;
  height: 3.6rem;
  position: absolute;
  left: 81rem;
  top: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--2EM {
  width: 6.2rem;
  height: 3.6rem;
  position: absolute;
  left: 86.7rem;
  top: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--hLV {
  width: 10.3rem;
  height: 3.6rem;
  position: absolute;
  left: 93.5rem;
  top: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--yoo {
  width: 8.9rem;
  height: 3.6rem;
  position: absolute;
  left: 104.3rem;
  top: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2102272327;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .logo-removebg-preview-1-2-FWR {
  width: 18.2rem;
  height: 6rem;
  position: relative;
  left: 0;
  top: 1.1rem;
  background-size: 100% 296.203%;
  background-position: -0rem -6.038rem;
  background-image: url('../assets/logo-removebg-preview-1-2-NTK.png');
}
.frame-45-AcH .rectangle-435-L25 {
  width: 144rem;
  height: 31rem;
  position: absolute;
  left: 0;
  top: 135rem;
  background-color: #3d3a39;
}
.frame-45-AcH .home-3hB {
  width: 4.2rem;
  height: 1.5rem;
  position: absolute;
  left: 46rem;
  top: 128.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--Ytq {
  width: 4rem;
  height: 1.5rem;
  position: absolute;
  left: 69rem;
  top: 128.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .instagram-q7F {
  width: 5.7rem;
  height: 1.5rem;
  position: absolute;
  left: 92.1rem;
  top: 128.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--wAH {
  width: 3.6rem;
  height: 1.6rem;
  position: absolute;
  left: 46rem;
  top: 133.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--dJ1 {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 69rem;
  top: 133.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .facebook-X8V {
  width: 7rem;
  height: 1.6rem;
  position: absolute;
  left: 92.1rem;
  top: 133.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--Dn1 {
  width: 4.5rem;
  height: 1.5rem;
  position: absolute;
  left: 46rem;
  top: 138rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--XXo {
  width: 5.1rem;
  height: 1.5rem;
  position: absolute;
  left: 69rem;
  top: 138rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .twitter-DfX {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 92.1rem;
  top: 138rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item--isB {
  width: 2.9rem;
  height: 1.5rem;
  position: absolute;
  left: 46rem;
  top: 143.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .item-11--Dow {
  width: 7.8rem;
  height: 1.5rem;
  position: absolute;
  left: 69rem;
  top: 143.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-45-AcH .kakao-plus-friend-6cq {
  width: 7.4rem;
  height: 3.5rem;
  position: absolute;
  left: 92.1rem;
  top: 143.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
}
.frame-45-AcH .service-bJh {
  width: 7.3rem;
  height: 2.5rem;
  position: absolute;
  left: 44.25rem;
  top: 122.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fffef2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
