<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IndexDAO">
	<select id="getClubList" parameterType="index" resultType="index">
		SELECT * FROM CLUB ORDER BY CLUB_CODE DESC
	</select>

	<select id="getCateHighList" parameterType="category" resultType="category">
		SELECT * FROM CATEGORYHIGH
	</select>
	
	<select id="getCateMidList" parameterType="category" resultType="category">
		SELECT ctmid_name FROM CATEGORYMIDDLE where cthigh_code = #{cthigh_code}
	</select>

</mapper>