<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SocialingDAO">

	
	<insert id="insertSocialing" parameterType="socialing">
	INSERT INTO SOCIALING
	(social_code, social_name, social_date, social_content, social_tot, social_cost, mem_code, social_loc, social_maxage, social_gender, ctmid_code
	<if test='socialing.social_pic != null'>
	, social_pic, social_rpic
	</if>
	)VALUES(
	seq_socialing.nextval, #{ socialing.social_name }, #{socialing.social_date}, #{socialing.social_content}, #{socialing.social_tot}, #{socialing.social_cost}
	, #{member.mem_code}, #{socialing.social_loc}, #{socialing.social_maxage}, #{socialing.social_gender}, #{category.ctmid_code}
	<if test='socialing.social_pic != null'>
	, #{socialing.social_pic}, #{socialing.social_rpic}
	</if>
	)
	</insert>

	

</mapper>